<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate quod distinctio obcaecati delectus reprehenderit nesciunt.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta ab nobis libero distinctio odio maiores, quae cum dolore? Accusamus, natus?</p>
    <a href="https://www.youtube.com/watch?v=sPthfJBKwDY" class="btn btn-primary">Faztweb</a>
</div>